# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env*.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next
out/
build
dist
**/.next
**/build
**/dist
**/.next
**/.next/**
**/next-env.d.ts

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Typescript
*.tsbuildinfo
next-env.d.ts

# Build caches
**/.turbo
**/cache/
**/webpack/

# Build artifacts
**/manifest.json
**/app-build-manifest.json
**/app-paths-manifest.json
**/server-reference-manifest.json